.button-logout {
  all: unset;
  background-color: var(--blue-500);
  border-radius: 4px;
  padding: 5px 3px;
  cursor: pointer;
}

.button-logout:hover {
  background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
}