.input-container {
  width: 100%;
}

.input-container > .label {
  color: var(--gray-600);
}

.icon-input {
  display: flex;
  align-items: center;
  background-color: var(--gray-100);
  border-radius: 4px;
  padding: 15px 20px;
  gap: 15px;
  border: 2px solid var(--gray-100);
}

.icon-input.-focus {
  border: 2px solid var(--blue-500);
}

.icon-input > .input {
  all: unset;
  width: 100%;
  background-color: transparent !important;
}

.icon {
}

.icon-input > .input:-webkit-autofill {
  transition: background-color 0s 600000s, color 0s 600000s;
  color: var(--gray-400);
}

.icon-input > .input::placeholder {
  color: var(--gray-400);
  opacity: 1;
}
