:root {
    --blue-995: #18242F;
    --blue-990: #1E2A36;
    --blue-900: #253745;
    --blue-500: #1293EF;

    --gray-400: #546575;
    --gray-200: #d1d5d8;
    --gray-100: #E6ECF3;
    --gray-050: #FBFBFB;

    --orange-500: #F0C313;

    --green-300: #00FF0A;

    --red-500: #FF0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, button, textarea {
    font-size: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
}